/* *{
  font-style: italic;
} */

p{
  font-size: 18px;
  color: blue;
}

/* h1{
  text-decoration: underline;
} */
#paraghraf {
  text-align: justify;
}

.paraghraf1 {
  text-align: right; 
}
